/* Configurações globais */
@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Arizonia&family=Berkshire+Swash&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

:root {
    --cor0: #cee5f2; 
    --cor1: #accbe1;
    --cor2: #00a6fb;
    --cor3: #0582ca;
    --cor4: #006494;
    --cor5: #003554;
    --cor6: #051923;

    --fonte-padrao: arial, Verdana, Helvetica, sans-serif;
    --fonte-manuscrita: 'Arizonia', Handwriting;
    --fonte-nomeCabecalho: 'Cinzel', Display;
    --fonte-hello: 'Roboto Mono', Monospace;
}

* {
    
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: var(--fonte-padrao);
    background-color: var(--cor0);
}

header {
    margin: 0px;
    padding: 0px;
}

header > ul > li {
    display: inline;
    margin: 5px;
    padding: 15px;
}

header > ul > li > a {
    text-decoration: none;
    padding: 7px 15px;
    float: right;
}

header > ul > li > a:hover {
    border-bottom: var(--cor6);
    color: var(--cor6);
    font-weight: 600;
}