/* Configurações globais */
@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Arizonia&family=Berkshire+Swash&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

:root {
    --cor0: #cee5f2; 
    --cor1: #accbe1;
    --cor2: #00a6fb;
    --cor3: #0582ca;
    --cor4: #006494;
    --cor5: #003554;
    --cor6: #051923;

    --padrao: arial, Verdana, Helvetica, sans-serif;
    --manuscrita: 'Arizonia', Handwriting;
    --nomeCabecalho: 'Cinzel', Display;
    --helloWorld: 'Roboto Mono', Monospace;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: var(--padrao);
    font-size: 16px;
}


header {
    border: 1px solid red;
    min-height: 9vh;
    background-color: rgb(0, 0, 0);
}

.container {
    display: flex;
    align-items: center;
}

#logo-cabecalho {
    width: 100px;
    min-width: 80px;
    padding: 20px;
    margin-left: 50px;
    border: 1px solid yellowgreen;
    cursor: pointer;
}

.link-nome {
    margin: auto;
    font-family: var(--nomeCabecalho);
    font-size: 2.8em;
    color: var(--cor2);
    text-decoration: none;
    cursor: pointer;
    user-select: none;
}

.link-nome:hover {
    color: gold;
    transition: 1s;
}

/* NAVEGAÇÃO */

nav {
    border: 1px solid red;
    margin-left: auto;
    padding: 20px;
    user-select: none;
}

nav > a {
    font-size: 1.3em;
    color: var(--cor2);
    margin: 20px 25px ;
    text-decoration: none;
    position: relative;
    user-select: none;
}

nav > a::after {
    content: " ";
    width: 0%;
    height: 2px;
    background-color: var(--cor2);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.3s ease-in-out;
}

nav > a:hover::after {
    width: 100%;
}


/* SECTIONS */

#apresentacao {
    border: 1px solid red;
    background: var(--cor6) url('../imagens/fundo0.jpg') bottom center no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 86.5vh;
    position: relative;
}

#apresentacao > p {
    font-size: 4em;
    font-family: var(--helloWorld);
    color: var(--cor0);
    margin: 250px 0px 50px 330px;
    user-select: none;
}

#sobre {
    border: 1px solid red;
    background-color: var(--cor1);
    height: 100vh;
}

#ft-sobre {
    border-radius: 10%;
    border: 1px solid yellow;
    margin: 10px 25px 10px 100px;
  
    float: left;
}

#sobre > h2 {
    margin-top: 15px;
}

#sobre > aside {
    border: 1px solid red;
    display: inline-block;
    width: 1450px;
    color: black;
}

/* RESPOSNSIVIDADE */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}