@charset "UTF-8";
@import url(../estilo/reset.css);
@import url(../estilo/style.css);

/*************************************************************** RESPOSNSIVIDADE *******************************************************************/

/* Extra small devices (phones, 600px and down) 
@media only screen and (max-width: 600px) {}*/

/* Small devices (portrait tablets and large phones, 600px and up) 
@media only screen and (min-width: 600px) {}*/

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991.5px) {

    /* HEADER ******************************************************************************************************************************************/
    .cabecalho_container_logotipo {
        width: 70px;
    }

    .cabecalho_container_titulo {
        font-size: 1.3rem;
    }

    .cabecalho_container_lista-menu {
        width: 22vw;
    }

    .cabecalho_lista-menu_item {
        text-align: end;
    }

    .cabecalho_lista-menu_link {
        color: var(--branco);

    }


    /* SECTION BANNER APRESENTAÇÃO ****************************************************************************************************************************/

    .banner_foto_alex {
        width: 40%;
    }

    .banner_txt {
        letter-spacing: 0.1em;
        font-weight: 500;
    }

    .banner_txt-nome {
        font-size: 2.2em;
        font-weight: 700;
        color: var(--azul-vivido);
        text-shadow: 0.01em 0.01em 0.02em;
        /*-webkit-text-stroke-width: 0.001px;
        -webkit-text-stroke-color: var(--azul-profundo-escuro);*/
    }

    /* SECTION SOBRE ************************************************************************************************************************************/

    .sobre_descricao {
        padding: 2em 5em;
    }

    .sobre_descricao_titulo {
        padding: 0.5em;
        font-size: 2em;
    }

    .sobre_descricao_texto {
        font-size: 1em;
        line-height: 1.5;
        padding-bottom: 2%;
    }

    /* SECTION FORMAÇÃO ********************************************************************************************************************************/

    .formacao {
        padding: 2em 5em 1em 5em;
    }

    .formacao_titulo {
        padding: 0;
        font-size: 2em;
    }

    .formacao_titulo_graduacao {
        font-size: 1em;
        padding: 0.5em 0.5em 1em 0.5em;
    }

    .formacao_texto {
        font-size: 1em;
        line-height: 1.5;
        padding-bottom: 5%;
    }

    /* SECTION CURSOS (Certificados) *******************************************************************************************************************/

    .cursos {
        padding: 1em 4em 1em 4em;
        font-size: 1.5em;
    }

    .cursos_titulo {
        font-size: 1.2em;
        padding: .5em 0 0.2em 0;
    }

    .swipper-pagination {
        margin: .5em 0 1em 0;
    }

    /* SECTION PROJETOS ********************************************************************************************************************************/

    .projetos {
        padding-top: 1em 5em 1em 5em;
    }

    .projetos_titulo {
        padding: 0.7em 0 0.8em 0;
        font-size: 2em;
    }

    .projetos_lista {
        grid-template-columns: repeat(3, 1fr);
        /* 2 colunas */

    }

    .projetos_lista_item {
        margin: 1em 0;
        width: 80%;
        height: 95%;
        box-sizing: border-box;
        overflow: hidden;
        /* Impede que o conteúdo vaze */
        flex-direction: column;
        align-items: center;
    }



    .projeto_lista_item_link {
        font-size: 1em;
    }

    .projetos_texto {
        font-size: 0.8em;
        line-height: 1.5;
        margin: 2.5em;
        padding: 0;
    }

    .projetos_caixa {
        width: 100%;
    }

    .projetos_caixa_link {
        text-decoration: underline;
        font-weight: 500;
        font-size: 1.3em;
    }

    /* SECTION CONTATO *********************************************************************************************************************************/
    .contatos {
        padding: 1em 6em 1em 6em;
    }

    .contatos_titulo {
        font-size: 2em;
        padding: 0.5em;
    }

    .contatos_lista_item_link {
        width: 70px;
        /* ajuste para o tamanho do seu ícone */
        height: 70px;
        /* ajuste para o tamanho do seu ícone */
    }

    /* SECTION RODAPÉ **********************************************************************************************************************************/
    .rodape {
        padding: 3em 4.5em 2em 4.5em;
    }

    .rodape::before {
        background-size: 430px auto;
        /* ajuste o valor conforme desejar */
    }

    .rodape_container_item_titulo-paginas {
        font-size: 1.2em;
        margin-left: 2em;
    }

    .rodape_container_lista-menu_item {
        padding: 0 0 1em 0;
        margin-left: 2.4em;
    }

    .rodape_container_item_lista-menu_link {
        font-size: 1em;
    }

    .rodape_container_item_titulo-social-media {
        font-size: 1.2em;
        margin-right: 1.5em;
        padding-bottom: 1em;
    }

    .rodape_container_item_lista-social-media_img {
        width: 35px;
        margin: 0 2.7em 0.3em 0;
    }

    .icon-email-rodape {
        width: 45px;
        margin: -0.7em 2.4em 0 0;
    }

    .rodape_item-3 {
        top: 1em;
    }

    .rodape_item-3_img_rodape {
        width: 60px;
    }

    .rodape_item-3__link {
        font-size: 1.1em;
    }

    .rodape_item-3__text {
        font-family: var(--fonte-helloWorld);
        font-size: 1em;
    }

    /* BOTÃO VOLTAR AO TOPO **********************************************************************************************************************/
    #btn-topo {
        width: 45px;
        height: 45px;
    }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1279.5px) {

    /* HEADER ******************************************************************************************************************************************/
    .cabecalho_container_logotipo {
        width: 80px;
        margin: 1em 0;
    }

    .cabecalho_container_titulo {
        font-size: 1.5rem;
        margin: 0;
    }

    .cabecalho_container_menu-hamburguer,
    .cabecalho_container_botao,
    .cabecalho_container_rotulo {
        display: none !important;/* Esconde o menu hambúrguer e o checkbox */
    }

    .cabecalho_cabecalho_container {
        margin: 0 0 0 4em;
    }

    .cabecalho_container_lista-menu {
        display: flex !important;
        position: static;
        width: auto;
        gap: 0.1em;
        border: none;
    }

    .cabecalho_container_lista-menu:hover {

        transition: ease-in-out 0.8s;
    }

    .cabecalho_lista-menu_item {
        background: none;
        margin: 0;
        padding: 0.5em;
        font-size: large;
    }

    .cabecalho_lista-menu_link {
        transition: transform 0.2s, color 0.2s;
        display: inline-block; /* Necessário para o transform funcionar corretamente */
    }

    .cabecalho_lista-menu_link:hover {
        transform: scale(1.15);
        text-decoration: underline;
    }

    /* SECTION BANNER APRESENTAÇÃO ****************************************************************************************************************************/



    /* SECTION SOBRE ************************************************************************************************************************************/



    /* SECTION FORMAÇÃO ********************************************************************************************************************************/



    /* SECTION CURSOS (Certificados) *******************************************************************************************************************/


    /* SECTION PROJETOS ********************************************************************************************************************************/


    /* SECTION CONTATO *********************************************************************************************************************************/


    /* SECTION RODAPÉ **********************************************************************************************************************************/


    /* BOTÃO VOLTAR AO TOPO **********************************************************************************************************************/
    #btn-topo {
        width: 45px;
        height: 45px;
    }

    /* TELA DE CONSTRUÇÃO *******************************************************************************************************************************/

    /*.tela-construcao {
        display: flex;
    }

    .tela-construcao__titulo {
        color: var(--branco);
    }

    .tela-construcao__texto {
        color: var(--branco);
        text-align: center;
    }

    body>*:not(.tela-construcao) {
        display: none;
    }

    .tela-construcao {
        display: flex;
    }
    
    body > *:not(.tela-construcao) {
        filter: blur(2px); /* opcional, só para dar um efeito 
        pointer-events: none;
        user-select: none;
    }*/
}

/* Extra large devices (large laptops and desktops, 1280px and up) */
@media only screen and (min-width: 1280px) {
    .tela-construcao {
        display: flex;
    }

    .tela-construcao__titulo {
        color: var(--branco);
    }

    .tela-construcao__texto {
        color: var(--branco);
        text-align: center;
    }

    body>*:not(.tela-construcao) {
        display: none;
    }
}