@charset "UTF-8";
@import url(../estilo/reset.css);
@import url(../estilo/style.css);

/*************************************************************** RESPOSNSIVIDADE *******************************************************************/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    /* HEADER ******************************************************************************************************************************************/
    .cabecalho_container_logotipo {
        width: 80px;
    }

    .cabecalho_container_titulo {
        font-size: 1.7rem;
    }

    .cabecalho_container_lista-menu {
        width: 22vw;
    }

    .cabecalho_lista-menu_item {
        text-align: end;
    }

    .cabecalho_lista-menu_link {
        color: var(--branco);
        font-size: 1.3rem;
    }


    /* SECTION BANNER APRESENTAÇÃO ****************************************************************************************************************************/
    .banner_foto_alex {
        width: 40%;
    }

    .banner_txt {
        letter-spacing: 0.1em;
        font-weight: 500;
        font-size: 2.5em;
    }

    .banner_txt-nome {
        font-weight: 700;
        font-size: 3em;
    }

    /* SECTION SOBRE ************************************************************************************************************************************/

    .sobre_descricao {
        padding: 2em;
    }

    .sobre_descricao_titulo {
        padding: 0.5em;
        font-size: 2.5em;
    }

    .sobre_descricao_texto {
        font-size: 1.3em;
        line-height: 1.5;
        padding-bottom: 2%;
    }

    /* SECTION FORMAÇÃO ********************************************************************************************************************************/

    .formacao {
        padding: 2em;
    }

    .formacao_titulo {
        padding: 0.5em;
        font-size: 2.5em;
    }

    .formacao_titulo_graduacao {
        font-size: 1.5em;
        padding: 0.5em 0.5em 1em 0.5em;
    }

    .formacao_texto {
        font-size: 1.3em;
        line-height: 1.5;
        padding-bottom: 2%;
    }

    /* SECTION CURSOS (Certificados) *******************************************************************************************************************/

    .cursos {
        padding: 0.5em;
        font-size: 2em;
    }

    .cursos_titulo {
        font-size: 1.2em;
        padding: .5em 0 0.2em 0;
    }

    .swipper-pagination {
        margin: .5em 0 1em 0;
    }

    /* SECTION PROJETOS ********************************************************************************************************************************/



    .projetos_titulo {
        padding: 0.7em 0 0.8em 0;
        font-size: 2.5em;
    }

    .projetos_listas {
        padding: 0 2em;
    }

    .projetos_lista_item {
        gap: 1em;
        width: 200px;
        height: 270px;
    }

    .projeto_lista_item_link {
        font-size: 1em;
    }

    .projetos_texto {
        font-size: 0.9em;
        line-height: 1.5;
        padding: 0.5em;
    }

    .projetos_caixa {
        width: 100%;
    }

    .projetos_caixa_link {
        text-decoration: underline;
        font-weight: 500;
        font-size: 1.3em;
    }

    /* SECTION CONTATO *********************************************************************************************************************************/
    .contatos {
        padding: 0 2em;
    }

    .contatos_titulo {
        font-size: 2.4em;
        padding: 1em;
    }

    .contatos_lista_item_link {
        width: 80px;
        /* ajuste para o tamanho do seu ícone */
        height: 80px;
        /* ajuste para o tamanho do seu ícone */
    }

    /* SECTION RODAPÉ **********************************************************************************************************************************/
    .rodape {
        padding: 0em 2.2em;
    }

    .rodape::before {
        background-size: 450px auto;
        /* ajuste o valor conforme desejar */
    }

    .rodape_container_item_titulo-paginas {    
        font-size: 1.4em;
        
    }

    .rodape_container_item_lista-menu_link {
        font-size: 1.2em;
    }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    .tela-construcao {
        display: flex;
    }

    .tela-construcao__titulo {
        color: var(--branco);
    }

    .tela-construcao__texto {
        color: var(--branco);
        text-align: center;
    }

    body>*:not(.tela-construcao) {
        display: none;
    }

    /*.tela-construcao {
        display: flex;
    }
    
    body > *:not(.tela-construcao) {
        filter: blur(2px); /* opcional, só para dar um efeito 
        pointer-events: none;
        user-select: none;
    }*/
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .tela-construcao {
        display: flex;
    }

    body>*:not(.tela-construcao) {
        display: none;
    }


    /*.tela-construcao {
        display: flex;
    }
    
    body > *:not(.tela-construcao) {
        filter: blur(2px); /* opcional, só para dar um efeito 
        pointer-events: none;
        user-select: none;
    }*/
}