/**************************************************** CONFIGURAÇÕES GLOBAIS ************************************************************************/

@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Arizonia&family=Berkshire+Swash&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

:root {
    --azul-palido: #accbe1;
    --azul-vivido: #00a6fb;
    --azul-vivido-escuro: #0582ca;
    --azul-brilhante: #006494;
    --azul-profundo: #003554;
    --azul-profundo-escuro: #051923;
    --azul-degrade: linear-gradient(97.54deg, #003554 35.49%, #0582ca 165.37%);
    --branco: #ffffff;
    --preto: #000000;
    --textos-icones: #4A4A4A;    
    --cor-de-fundo: #F5F7FA;
    
    --fonte-padrao: arial, Verdana, Helvetica, sans-serif;
    --fonte-manuscrita: 'Arizonia', 'Handwriting';
    --fonte-Cabecalho: 'Cinzel', 'Display';
    --fonte-helloWorld: 'Roboto Mono', Monospace;
}

html {
    scroll-behavior: smooth;
    
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-padrao);
    font-size: 16px;
    font-weight: 400;
}


h1, h2, h3, h4, h5, h6 {
    font-family: var(--fonte-padrao);
    text-align: center;
    color: var(--textos-icones);
    padding: .5em 0;
}

p {
    padding: 0 5%;
    text-align: justify;
    font-family: var(--fonte-padrao);
    line-height: 1.5em;
    color: var(--textos-icones);
    font-size: 1em;
    
}

/* HEADER ******************************************************************************************************************************************/

.cabecalho {
    background: var(--azul-degrade);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.cabecalho_container {
    display: flex;
    align-items: center;
}

.cabecalho_container_logotipo {
    width: 60px;
}

.cabecalho_container_imagens {
    padding: 1em;
}

.cabecalho_container_titulo {
    font-family: var(--fonte-Cabecalho);
    color: var(--branco);
}

.cabecalho_cabecalho_img-menu {
    padding: 0.5em;
}

.cabecalho_container_botao {
    display: none;
}

.cabecalho_container_botao:checked ~ .cabecalho_container_lista-menu {
    display: block;
    
}

.cabecalho_container_botao:checked ~ .container_rotulo {
    background-color: var(--azul-vivido);
}

.cabecalho_container_rotulo {

}

.cabecalho_container_menu-hamburguer {
    width: 24px;
    height: 24px;
    background: url("../img/img-menu-branco.svg") no-repeat center center;
    display: inline-block;
}

.cabecalho_container_lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    border: 2px solid var(--branco);
    width: 38vw;
}

.cabecalho_lista-menu_item {
    padding: 0.8em;
    background-color: var(--azul-profundo);    
}

.cabecalho_cabecalho_lista-menu_item:hover {
    background-color: var(--azul-profundo-escuro);
    color: var(--azul-vivido);
    background: var(--azul-profundo-escuro);
    background-clip: text;
    text-transform: uppercase;
    transition: ease-in-out 0.5s;
}

.cabecalho_lista-menu_link {
    color: var(--branco);
    text-decoration: none;
    font-family: var(--fonte-padrao);
}

.cabecalho_lista-menu_link:hover {
   color: var(--azul-vivido);
   padding-left: 1em;
   transition: 0.3s ease-in-out;
}

/* SECTION BANNER APRESENTAÇÃO ****************************************************************************************************************************/
.banner {
    background: var(--azul-profundo-escuro) url("../img/fundos/fundo0.jpg") no-repeat center top / cover;
    height: calc(100vh - 8.3vh);
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
}

.banner_foto {
    text-align: center;
}

.banner_foto_alex {
    border-radius: 50%;
    border: 5px solid var(--azul-vivido);
    box-shadow: 0 4px 8px rgba(2, 230, 142, 0.1);
    width: 50%;
    margin-bottom: 0%;
}

.banner_txt {
    color: var(--branco);
    font-family: var(--fonte-helloWorld);
    font-size: 2em;
    font-weight: 500;
    text-align: center; 
    text-shadow: 0 4px 4px rgb(0, 0, 0, 0.75);
   
}

.banner_txt-nome {
    font-weight: 600;
    color: var(--azul-vivido);
}


/* SECTION SOBRE************************************************************************************************************************************/
.sobre {
    display: flex;
    flex-direction: column-reverse;
    background-color: var(--cor-de-fundo);
    margin-bottom: -3px;
}

.sobre_descricao {
    padding: 1em;
}

.sobre_descricao_titulo {
    color: var(--textos-icones);
    font-size: 1.5em;
}

.sobre_descricao_texto {
    padding-bottom: 5%;
}


/* SECTION FORMAÇÃO ********************************************************************************************************************************/
.formacao {
    background-color: var(--preto);
    padding: .8em;
}

.formacao_titulo {
    font-size: 1.5em;
    color: var(--azul-vivido);
}

.formacao_titulo_graduacao {
    color: var(--azul-vivido-escuro);
    font-size: 1.2em;
    padding: 1.2em 0;
}

.formacao_texto {
    color: var(--branco);
    padding-bottom: 0.7em;
}



/* SECTION CURSOS (Certificados) *******************************************************************************************************************/

.cursos {
    background-color: var(--branco);
}

.cursos_titulo {
    padding: 1.2em 0;
    font-size: 1.5em;
}


.swiper-wrapper {
    width: 100%;
}

.swipper-pagination {
    position: initial;
    margin: .5em 0;
    text-align: center;
}

.cursos_img-certificado {
    width: 100%;
}

.swipper-slide {
    
}

.swipper-slide img {
    width: 100%;
}

.swiper-button-prev, .swiper-button-next {
    display: none;
}

/* SECTION PROJETOS ********************************************************************************************************************************/

.projetos {
    background: var(--azul-profundo-escuro); 
}

.projetos_titulo {
    text-align: center;
    font-size: 1.5em;
    font-weight: 700;
    color: var(--branco);
}

.projetos_lista {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 2em 0;
}

.projetos_lista_nome-projeto {
    display: block;
    font-size: 0.9em;
    flex-direction: column;
    text-align: center;
}

.projetos_lista_item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0.5em;
    width: 180px;
    margin: 0.5em 0.12em 0.5em 0.25em;
    background-color: var(--azul-profundo);
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
    text-align: center;
}

.projetos_lista_item:hover {
    transform: scale(1.05);
    background-color: var(--azul-vivido-escuro);
}

.projeto_lista_item_link {
    text-decoration: none;
    color: var(--branco);
    font-weight: 700;
}

.projeto_lista_item_link:hover {
    color: var(--azul-profundo-escuro);
    text-decoration: underline;
}

.projetos_lista_img-projeto {
    align-self: center;
    width: 80%;
    background: center center / cover no-repeat;
    background-size: contain;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
}

/* SECTION RODAPÉ **********************************************************************************************************************************/



/*************************************************************** RESPOSNSIVIDADE *******************************************************************/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}