@charset "UTF-8";
@import url(../estilo/reset.css);
@import url(../estilo/style.css);

/*************************************************************** RESPOSNSIVIDADE *******************************************************************/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    /* HEADER ******************************************************************************************************************************************/
    .cabecalho_container_logotipo {
        width: 80px;
    }

    .cabecalho_container_titulo {
        font-size: 1.7rem;
    }

    .cabecalho_container_lista-menu {
        width: 22vw;
    }

    .cabecalho_lista-menu_item {
        text-align: end;
    }

    .cabecalho_lista-menu_link {
        color: var(--branco);
        font-size: 1.3rem;
    }
}

/* SECTION BANNER APRESENTAÇÃO ****************************************************************************************************************************/
.banner_foto_alex {
    
}

.banner_txt {
    letter-spacing: 0.1em;
    font-weight: 500;
}

.banner_txt-nome {
    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    .tela-construcao {
        display: flex;
    }

    .tela-construcao__titulo {
        color: var(--branco);
    }

    .tela-construcao__texto {
        color: var(--branco);
        text-align: center;
    }

    body>*:not(.tela-construcao) {
        display: none;
    }

    /*.tela-construcao {
        display: flex;
    }
    
    body > *:not(.tela-construcao) {
        filter: blur(2px); /* opcional, só para dar um efeito 
        pointer-events: none;
        user-select: none;
    }*/
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .tela-construcao {
        display: flex;
    }

    body>*:not(.tela-construcao) {
        display: none;
    }


    /*.tela-construcao {
        display: flex;
    }
    
    body > *:not(.tela-construcao) {
        filter: blur(2px); /* opcional, só para dar um efeito 
        pointer-events: none;
        user-select: none;
    }*/
}